.footer-title {
    color: #fff !important;
    opacity: 1 !important;
  }
  
  .footer2 {
    justify-content: space-between !important;
    align-items: center !important;
  }
  
  .footer-nav > a {
    position: relative;
  }
  
  .footer-nav > a:before {
    position: absolute;
    left: 0;
    width: 0;
    bottom: -2px;
    height: 1px;
    content: "";
    display: block;
    visibility: hidden;
    transition: width 0.3s ease;
    background-color: #fff;
  }
  
  .footer-nav > a:hover:before,
  .footer-nav > a:focus:before,
  .footer-nav > a:focus-within:before {
    width: 100%;
    visibility: visible;
  }
  
  @media (min-width: 768px) and (max-width: 1180px) {
    .footer {
      display: grid !important;
      grid-template-columns: 2.5fr 2.5fr 2fr 2.5fr 2.5fr !important;
    }
  }