* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary-color: #ffad33 !important;
}

/* header section */
header {
  font-family: "Poppins", sans-serif !important;
}
.navbar {
  background: #fff;
  height: 111.5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar-start {
  width: 30% !important;
  justify-content: space-between !important;
}

.navbar-center {
  width: 45% !important;
  justify-content: center !important;
}

.navbar-end {
  width: 30% !important;
  justify-content: flex-start !important;
}

.menu {
  color: #fff !important;
}

.menu li {
  font-size: 16px !important;
  font-weight: 600 !important;
}
.menu li a {
  color: #000; /* Set text color to black */
}
.menu li a:hover {
  background: linear-gradient(90deg, #2f765d 0%, #0d2d22 100%) !important;
  color: white !important;
}

.menu li.active {
  background: linear-gradient(90deg, #2f765d 0%, #0d2d22 100%) !important;
  color: white !important;
}

.menu :where(li:not(.menu-title) > :not(ul, details, .menu-title, .btn)),
.menu :where(li:not(.menu-title) > details > summary:not(.menu-title)) {
  border-radius: var(--rounded-btn, 0.5rem);
  padding-left: 1rem !important;
  padding-right: 5rem !important;
  padding-top: 1rem !important;
  padding-bottom: 1rem !important;
}

.menu li > :not(ul, .menu-title, details, .btn).active,
.menu li > :not(ul, .menu-title, details, .btn):active,
.menu li > details > summary:active {
  background: linear-gradient(90deg, #2f765d 0%, #0d2d22 100%) !important;
  color: white !important;
}

.menu-horizontal li {
  font-size: 18px !important;
  font-weight: 600 !important;
}

.menu-horizontal li {
  font-size: 18px !important;
  font-weight: 600 !important;
}

.menu-horizontal > li {
  position: relative;
}

.menu-horizontal > li:before {
  position: absolute;
  left: 0;
  width: 0;
  bottom: -2px;
  height: 1px;
  content: "";
  display: block;
  visibility: hidden;
  transition: width 0.3s ease;
  background-color: #000;
}

.menu-horizontal > li:hover:before,
.menu-horizontal > li:focus:before,
.menu-horizontal > li:focus-within:before {
  width: 100%;
  visibility: visible;
}

/* drawer page */
.drawer-hidden {
  transform: translateX(-100%);
}

.drawer-visible {
  transform: translateX(0);
}

.drawer {
  transition: transform 0.3s ease-in-out;
}

.btn-button {
  padding: 16px 48px 16px 48px;
  gap: 10px;
  border-radius: 4px;
  opacity: 0px;
  background: var(--primary-color) !important;
  font-family: Poppins;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  color: #fafafa !important;
}

/* header section end */

/* banner section start */
.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.swiper-button-next,
.swiper-button-prev {
  color: white !important;
  background-color: #737a86 !important;
  padding: 22px !important;
  border-radius: 50% !important;
}
.swiper-button-next{
  right: 0px !important;
}
.swiper-button-prev {
  left: 0px !important;
}

.swiper-button-next:after,
.swiper-button-prev:after {
  font-size: 15px !important;
  font-weight: 800 !important;
}

/* flas sales product page */
.flash-sales .swiper-slide {
  width: 320px !important;
  margin-right: 0px !important;
  overflow: hidden !important;
}

/* categories product */

.category {
  width: 170px;
  height: 145px;
  padding: 25px 56px 24px 55px;
  gap: 0px;
  border-radius: 4px;
  opacity: 0px;
  border: 1px solid #0000004d;
}

.category img {
  width: 56px;
  height: 56px;
  top: 25px;
  left: 57px;
  gap: 0px;
  opacity: 0px;
}
.category .swiper-slide {
  margin-right: 0px !important;
}

/* footer section start*/
.footer-title {
  color: #fff !important;
  opacity: 1 !important;
}

.footer2 {
  justify-content: space-between !important;
  align-items: center !important;
}

.footer-nav > a {
  position: relative;
}

.footer-nav > a:before {
  position: absolute;
  left: 0;
  width: 0;
  bottom: -2px;
  height: 1px;
  content: "";
  display: block;
  visibility: hidden;
  transition: width 0.3s ease;
  background-color: #fff;
}

.footer-nav > a:hover:before,
.footer-nav > a:focus:before,
.footer-nav > a:focus-within:before {
  width: 100%;
  visibility: visible;
}

@media (min-width: 768px) and (max-width: 1024px) {
  .footer {
    display: grid !important;
    grid-template-columns: 2.5fr 2.5fr 2fr 2.5fr 2.5fr !important;
  }
}

/* footer section end */

/* login section */
[type="text"]:focus,
input:where(:not([type])):focus,
[type="email"]:focus,
[type="url"]:focus,
[type="password"]:focus,
[type="number"]:focus,
[type="date"]:focus,
[type="datetime-local"]:focus,
[type="month"]:focus,
[type="search"]:focus,
[type="tel"]:focus,
[type="time"]:focus,
[type="week"]:focus,
[multiple]:focus,
textarea:focus,
select:focus {
  --tw-ring-offset-color: none !important;
  --tw-ring-color: var(--primary-color) !important;
  border-color: var(--primary-color) !important;
}

[type="checkbox"],
[type="radio"] {
  color: var(--primary-color) !important;
}

[type="checkbox"]:focus,
[type="radio"]:focus {
  --tw-ring-color: none !important;
}

/* login section end */
